<nav class="container-fluid">
    <a href="#" class="logo left"><img src="{{ static_url("images/logo.jpg") }}" alt="oh god why?" width="150"></a>
    
    <div class="navbar navbar-expand-lg navbar-light bg-dark">
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">Options</a>
                <ul>
                    <li><a href="/users">Select All Users</a></li>
                    <li><a href="/insert">Insert User</a></li>
                    <li><a href="/ships_c">Ship Classes</a></li>
                    <!-- <li><a href="#">Dropdown item</a></li>
                    <li><a href="#">Dropdown item</a></li> -->
                </ul>
            </li>
            <!-- <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li> -->
        </ul>
    </div>
</nav>