
<html>
<head>
   
    <title>Test Select></title>
</head>
<body>
        {% module NavigationHeader() %}

    <h5>Enter Select Criteria</h5>
        <form action="/insert" method="POST">
            {% module xsrf_form_html() %}
        <p>
            <label>First Name</label>
            <input type="text" name="_firstname_field">
            <label>Last Name</label>
            <input type="text" name="_lastname_field">
        </p>
        <p>
            <button type="submit" value="Send">Initiate Doomsday Protocol</button>
        </p>
        </form>
        <ul>
            {% for row in result %}
            <li>
                {{ row }}
            </li>
            {% end %}
        </ul>
</body>
</html>